@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --principal-font: 'Lobster', cursive;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--principal-font);
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}